# Environnements virtuels
.venv/
env/

# Fichiers système
.DS_Store
Thumbs.db

# Caches Python
__pycache__/
*.pyc
*.pyo

# Fichiers volumineux ou de données
*.csv
*.ipynb_checkpoints/

# Fichiers IDE
.idea/
*.iml
